* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
object,
embed {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
}

strong {
  font-family: pb;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

button {
  background-color: transparent;
  cursor: pointer;
}

:root {
  --white-cl: #ffffff;
  --black-cl: #000000;
  --grey-cl: #464646;
  --prim-cl: #BEA67C;
  --bg-header: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  --max-w-page: 2560px;
  --max-w-cfluid: 1920px;
  --max-w-container: calc(1196px + var(--gap)*2);
  --header-height: 90px;
  --footer-height: 100px;
  --fz-lv1: 8.4rem;
  --fz-lv2: 4.6rem;
  --fz-lv3: 1.8rem;
  --fz-btn: 1.5rem;
  --fz-text: 1.8rem;
  --fz-text-sm: 1.4rem;
  --fz-number: 3.8rem;
  --lh-text: 2.5rem;
  --lh-h2: 5.6rem;
  --lh-h3: 2.4rem;
  --ls-text: 0.36px;
  --ls-h1: 10.08px;
  --ls-h2: 4.6px;
  --ls-h3: 0.72px;
  --ls-btn: 1.5px;
  --ls-number: 2.28px;
  --ls-text-sm: 0.56px;
  --gap: 28px;
  --pd--section: 120px;
  --btn-dt: 0.2s;
}
@media screen and (max-width: 1000px) {
  :root {
    --header-height: 76px;
  }
}
@media screen and (max-width: 1199.98px) {
  :root {
    --max-w-container: 1140px;
  }
}
@media screen and (max-width: 991.98px) {
  :root {
    --max-w-container: 960px;
    --pd--section: 90px;
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    --max-w-container: 720px;
    --pd--section: 60px;
    --gap: 10px;
    --fz-lv1: 5.6rem;
    --fz-lv2: 3.8rem;
    --fz-lv3: 1.6rem;
    --fz-btn: 1.2rem;
    --fz-text: 1.5rem;
    --fz-text-sm: 1.2rem;
    --lh-text: 2rem;
    --lh-h2: 4.2rem;
    --lh-h3: 2.2rem;
    --ls-h2: 1.52px;
  }
}
@media screen and (max-width: 575.98px) {
  :root {
    --max-w-container: 100%;
    --footer-height: 92px;
  }
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* flickity-fade */
.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html body {
  width: 100%;
  max-width: var(--max-w-page);
  margin: auto;
  font-family: pr;
  font-size: var(--fz-text);
  line-height: var(--lh-text);
  letter-spacing: var(--ls-text);
  color: var(--black-cl);
}
html body.--disable-scroll {
  height: 100vh;
  overflow: hidden;
}
html body .container-fluid {
  width: 100%;
  max-width: var(--max-w-cfluid);
  padding-right: var(--gap);
  padding-left: var(--gap);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
html body .container {
  width: 100%;
  max-width: var(--max-w-container);
  padding-right: var(--gap);
  padding-left: var(--gap);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
html body .main {
  position: relative;
}
html body .main section.--ptb {
  padding: var(--pd--section) 0;
}
html body .main section.--pt {
  padding-top: var(--pd--section);
}
html body .main section.--pb {
  padding-bottom: var(--pd--section);
}
@media screen and (max-width: 767.98px) {
  html body .container-fluid,
  html body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.loading {
  display: none;
}

.btnmain {
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  text-transform: uppercase;
  height: 48px;
  padding: 0 28px;
  border: 1px solid var(--white-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btnmain:hover {
  background-color: var(--prim-cl);
}

@media screen and (max-width: 767.98px) {
  .btnmain {
    height: 36px;
    padding: 0 17px;
    gap: var(--gap);
  }
  .btnmain img {
    width: 19px;
  }
}
.heading.--lv1 {
  font-family: pb;
  font-size: var(--fz-lv1);
  line-height: normal;
  letter-spacing: var(--ls-h1);
  color: var(--prim-cl);
  text-transform: uppercase;
}
.heading.--lv2 {
  font-family: pb;
  font-size: var(--fz-lv2);
  line-height: var(--lh-h2);
  letter-spacing: var(--ls-h2);
  color: var(--black-cl);
  text-transform: uppercase;
}
.heading.--lv3 {
  font-family: pb;
  font-size: var(--fz-lv3);
  line-height: var(--lh-h3);
  letter-spacing: var(--ls-h3);
  color: var(--black-cl);
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 506px) {
  .heading.--lv3 {
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 767.98px) {
  .heading.--lv3 {
    margin-bottom: 8px;
  }
}

.textbox .heading {
  margin-bottom: 10px;
}
.textbox .heading.--lv2 {
  font-family: pb;
  font-size: var(--fz-lv2);
  line-height: var(--lh-h2);
  letter-spacing: var(--ls-h2);
  color: var(--black-cl);
  text-transform: uppercase;
}
.textbox .heading.--yellow {
  color: var(--prim-cl);
}
.textbox .heading.--white {
  color: var(--white-cl);
}
@media screen and (max-width: 767.98px) {
  .textbox .heading {
    margin-bottom: 7px;
  }
}
.textbox .more-btn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 8px;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--black-cl);
  text-transform: uppercase;
  position: relative;
  margin-top: 22px;
}
.textbox .more-btn::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--prim-cl);
  position: absolute;
  bottom: -6px;
  left: 0;
}
.textbox .more-btn img {
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.textbox .more-btn:hover img {
  transform: translateX(12px);
}
@media screen and (max-width: 767.98px) {
  .textbox .more-btn::after {
    content: "";
    width: 28px;
    height: 2px;
    background-color: var(--prim-cl);
    position: absolute;
    bottom: -6px;
    left: 0;
  }
}
.textbox .btnvideo {
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 34px;
  height: 44px;
  border: 1px solid var(--white-cl);
  margin-top: 48px;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
  cursor: pointer;
}
.textbox .btnvideo:hover {
  background-color: var(--prim-cl);
}
@media screen and (max-width: 767.98px) {
  .textbox .btnvideo {
    height: 36px;
    padding: 0 20px;
    margin-top: 26px;
  }
}
.textbox.--align-left {
  padding-left: 72px;
  position: relative;
}
.textbox.--align-left .heading {
  margin-bottom: 6px;
}
.textbox.--align-left::before {
  content: "";
  width: 58px;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 24px;
  left: 0;
}
@media screen and (max-width: 910px) {
  .textbox.--align-left {
    padding-left: initial;
  }
  .textbox.--align-left::before {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .textbox.--align-left {
    padding-left: initial;
  }
  .textbox.--align-left::before {
    display: none;
  }
}
.textbox.--align-right {
  position: relative;
  text-align: right;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.textbox.--align-right .heading {
  margin-bottom: 8px;
}
.textbox.--align-right::after {
  content: "";
  width: 58px;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 24px;
  right: 0;
}
@media screen and (max-width: 910px) {
  .textbox.--align-right {
    padding-right: initial;
  }
  .textbox.--align-right::after {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .textbox.--align-right {
    padding-right: initial;
  }
  .textbox.--align-right .heading {
    margin-bottom: 6px;
  }
  .textbox.--align-right::after {
    display: none;
  }
}
.textbox.--align-center {
  max-width: 50%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.textbox.--align-center .heading {
  margin-bottom: 33px;
}
.textbox.--align-center::after {
  content: "";
  width: 58px;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1240px) {
  .textbox.--align-center {
    max-width: 70%;
  }
}
@media screen and (max-width: 910px) {
  .textbox.--align-center {
    max-width: 80%;
  }
}
@media screen and (max-width: 801px) {
  .textbox.--align-center {
    max-width: 90%;
  }
}
@media screen and (max-width: 767.98px) {
  .textbox.--align-center .heading {
    margin-bottom: 20px;
  }
  .textbox.--align-center::after {
    content: "";
    width: 46px;
    height: 3px;
    background-color: var(--prim-cl);
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 575.98px) {
  .textbox.--align-center {
    max-width: 100%;
  }
  .textbox.--align-center::after {
    content: "";
    width: 46px;
    height: 3px;
    background-color: var(--prim-cl);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 542px) {
  .textbox.--align-center::after {
    content: "";
    width: 46px;
    height: 3px;
    background-color: var(--prim-cl);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 485px) {
  .textbox.--align-center::after {
    content: "";
    width: 46px;
    height: 3px;
    background-color: var(--prim-cl);
    position: absolute;
    top: 91px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.des.--white {
  color: var(--white-cl);
}

.header {
  background: var(--bg-header);
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition-property: background height;
}
.header.--black {
  background-color: var(--black-cl);
  height: 80px;
}
.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.header__logo.hide {
  opacity: 0;
  visibility: hidden;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__nav li {
  position: relative;
}
.header__nav li a {
  display: flex;
  flex-direction: column;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  padding: 5px 20px;
  cursor: pointer;
}
.header__nav li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: calc(100% - 40px);
  background-color: var(--prim-cl);
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-property: transform;
}
.header__nav li a.active {
  color: var(--prim-cl);
  position: relative;
}
.header__nav li a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header__nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media screen and (max-width: 1133px) {
  .header__nav li a {
    padding: 5px 10px;
  }
  .header__nav li a::after {
    width: calc(100% - 20px);
  }
}
.header__nav li:not(:first-child) a {
  position: relative;
}
.header__nav li:not(:first-child) a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media screen and (max-width: 1000px) {
  .header__nav {
    display: none;
  }
}
.header__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.header__cta--lang {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  height: 38px;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  cursor: pointer;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
  opacity: 1;
  visibility: visible;
}
.header__cta--lang.hide {
  opacity: 0;
  visibility: hidden;
}
.header__cta--lang.--active .curr__icon {
  transform: rotateX(180deg);
}
.header__cta--lang.--active .dropdown {
  opacity: 1;
  visibility: visible;
}
.header__cta--lang .curr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__cta--lang .curr .curr__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}
.header__cta--lang .curr__icon {
  transform: rotateX(0deg);
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.header__cta--lang svg {
  margin-left: 2px;
}
.header__cta--lang .dropdown {
  position: absolute;
  left: 0;
  top: 80px;
  background-color: var(--black-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.header__cta--lang .dropdown li {
  padding: 7px 20px;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.header__cta--lang .dropdown li:hover {
  color: var(--prim-cl);
}
.header__cta--signup {
  background-color: var(--prim-cl);
  border: 1px solid var(--prim-cl);
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  height: 38px;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  cursor: pointer;
}
.header__cta--signup:hover {
  background-color: transparent;
  border: 1px solid var(--white-cl);
}
.header__cta--hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header__cta--signup {
    display: none;
  }
  .header__cta--hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: relative;
  }
  .header__cta--hamburger span {
    position: relative;
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--white-cl);
    opacity: 1;
    transition: 0.3s;
  }
  .header__cta--hamburger::before {
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--white-cl);
    position: absolute;
    top: 0;
    transform: rotate(0);
    transition: 0.3s;
  }
  .header__cta--hamburger::after {
    content: "";
    width: 24px;
    height: 3px;
    background-color: var(--white-cl);
    position: absolute;
    bottom: 0;
    transition: 0.3s;
  }
  .header__cta--hamburger.--active span {
    opacity: 0;
    pointer-events: none;
  }
  .header__cta--hamburger.--active::before {
    top: 9px;
    background-color: var(--prim-cl);
    transform: rotate(45deg);
  }
  .header__cta--hamburger.--active::after {
    bottom: 9px;
    background-color: var(--prim-cl);
    transform: rotate(-45deg);
  }
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-cl);
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }
  .nav-mobile.--active {
    opacity: 1;
    visibility: visible;
  }
  .nav-mobile .nav-mobile-menu {
    text-align: center;
    transform: translateY(-90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav-mobile .nav-mobile-menu li {
    padding-top: 7px;
    padding-bottom: 7px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .nav-mobile .nav-mobile-menu li a {
    font-family: pb;
    font-size: 1.8rem;
    line-height: normal;
    letter-spacing: var(--ls-btn);
    color: var(--white-cl);
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
  }
  .nav-mobile .nav-mobile-menu li.--btn-yellow {
    background-color: var(--prim-cl);
    border: 1px solid var(--prim-cl);
    transition: var(--btn-dt);
    -webkit-transition: var(--btn-dt);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    margin-top: 14px;
    height: 36px;
    width: -moz-fit-content;
    width: fit-content;
    font-family: pb;
    font-size: var(--fz-btn);
    line-height: normal;
    letter-spacing: var(--ls-btn);
    color: var(--white-cl);
    text-transform: uppercase;
    cursor: pointer;
  }
}
@media screen and (max-height: 565px) {
  .nav-mobile {
    padding-bottom: 8px;
  }
  .nav-mobile .nav-mobile-menu {
    transform: initial;
    max-height: 100%;
    overflow: auto;
  }
}
.footer {
  background-color: var(--black-cl);
  color: var(--white-cl);
  height: var(--footer-height);
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.footer__copyright {
  font-family: pr;
  font-size: var(--fz-text-sm);
  line-height: normal;
  letter-spacing: var(--ls-text-sm);
  color: var(--white-cl);
  opacity: 0.5;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer__backtotopbtn {
  background-color: var(--grey-cl);
  border: 1px solid var(--white-cl);
  height: 33px;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 32px;
  right: clamp(var(--gap), (100vw - var(--max-w-container) + 36px) / 2, (100vw - var(--max-w-container) + 36px) / 2);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer__backtotopbtn.show {
  opacity: 1;
  visibility: visible;
}
.footer__backtotopbtn:hover {
  background-color: var(--prim-cl);
}

@media screen and (max-width: 575.98px) {
  .footer {
    height: var(--footer-height);
  }
  .footer .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: initial;
    position: initial;
    left: initial;
    transform: initial;
  }
}
.main .hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main .hero__slider {
  height: 100%;
}
.main .hero__slider .flickity-viewport {
  height: 100% !important;
}
.main .hero__slider--item {
  height: 100%;
  width: 100%;
  position: relative;
}
.main .hero__slider--item .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.main .hero__slider--item picture img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .hero__bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.main .hero__bottom .container-fluid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main .hero__bottom--paging {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.main .hero__bottom--paging .number {
  font-family: pb;
  font-size: var(--fz-number);
  line-height: normal;
  letter-spacing: var(--ls-number);
  color: var(--prim-cl);
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .main .hero__bottom--paging .number {
    display: none;
  }
}
.main .hero__bottom--paging .flickity-page-dots {
  display: flex;
  gap: 10px;
  position: initial;
}
.main .hero__bottom--paging .flickity-page-dots li {
  width: 10px;
  height: 10px;
  background-color: var(--white-cl);
  opacity: 0.5;
  border-radius: 50%;
  margin: initial;
}
.main .hero__bottom--paging .flickity-page-dots li.is-selected {
  background-color: var(--prim-cl);
  opacity: 1;
}
.main .hero__bottom--mouse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .hero__bottom--mouse .arrowdown {
  animation: myMove 0.8s infinite alternate;
  position: relative;
}
@keyframes myMove {
  0% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .main .hero__bottom--mouse .mouse {
    display: none;
  }
}
.main .hero__bottom--controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero__bottom--controls .controls__btn {
  height: 34px;
  padding: 0 18px;
  border: 1px solid var(--white-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.main .hero__bottom--controls .controls__btn.--btn-prev {
  transform: rotate(180deg);
  margin-right: -1px;
}
.main .hero__bottom--controls .controls__btn:hover {
  background-color: var(--prim-cl);
}
@media screen and (max-width: 767.98px) {
  .main .hero__bottom--controls .controls__btn {
    height: 27px;
    padding: 0 13px;
  }
}
@media screen and (max-width: 1000px) {
  .main .hero {
    height: 80vh;
  }
}
.main .products__cate {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  align-items: center;
}
.main .products__cate .textbox {
  grid-column: 1/6;
}
.main .products__cate--thumb {
  grid-column: 6/13;
  position: relative;
  aspect-ratio: 686/430;
  display: flex;
}
.main .products__cate--thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .products__cate:nth-child(odd) {
  margin-bottom: 70px;
}
.main .products__cate:nth-child(even) .textbox {
  grid-column: 8/13;
  grid-row: 1/2;
}
.main .products__cate:nth-child(even) .products__cate--thumb {
  grid-column: 1/8;
  grid-row: 1/2;
}
@media screen and (max-width: 575.98px) {
  .main .products__cate {
    grid-template-columns: 1fr;
    gap: initial;
  }
  .main .products__cate .textbox {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .main .products__cate--thumb {
    margin-bottom: 24px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main .products__cate:nth-child(odd) {
    margin-bottom: 36px;
  }
  .main .products__cate:nth-child(even) .textbox {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .main .products__cate:nth-child(even) .products__cate--thumb {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.main .videos .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .videos__thumb {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
  width: 100%;
}
.main .videos__thumb--detail {
  cursor: pointer;
}
.main .videos__thumb--detail .detail__img {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 12px solid var(--white-cl);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  aspect-ratio: 1/1;
}
.main .videos__thumb--detail .detail__img--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.main .videos__thumb--detail .detail__img--bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.main .videos__thumb--detail .detail__img:hover .detail__img--bg {
  transform: scale(1.1);
}
@media screen and (max-width: 767.98px) {
  .main .videos__thumb--detail .detail__img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 690px) {
  .main .videos__thumb--detail .detail__img {
    width: 180px;
    height: 180px;
  }
}
.main .videos__thumb--detail .title {
  margin-top: 38px;
  position: relative;
  display: block;
  text-align: center;
}
.main .videos__thumb--detail .title::before {
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--prim-cl);
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 625px) {
  .main .videos .videos__thumb {
    flex-direction: column;
    margin-top: initial;
    justify-content: initial;
    align-items: center;
    margin-top: 43px;
    gap: 28px;
  }
}
@media screen and (max-width: 910px) {
  .main .videos .videos__thumb {
    justify-content: space-between;
  }
}
.main .banner {
  padding: 186px 0;
  position: relative;
}
.main .banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black-cl);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.main .banner .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.main .banner .textbox {
  grid-column: 1/7;
}
@media screen and (max-width: 1200px) {
  .main .banner .textbox {
    grid-column: 1/8;
  }
}
@media screen and (max-width: 1004px) {
  .main .banner .textbox {
    grid-column: 1/9;
  }
}
@media screen and (max-width: 887px) {
  .main .banner .textbox {
    grid-column: 1/10;
  }
}
@media screen and (max-width: 797px) {
  .main .banner .textbox {
    grid-column: 1/11;
  }
}
@media screen and (max-width: 767.98px) {
  .main .banner .textbox {
    grid-column: 1/9;
  }
}
@media screen and (max-width: 660px) {
  .main .banner .textbox {
    grid-column: 1/10;
  }
}
@media screen and (max-width: 593px) {
  .main .banner .textbox {
    grid-column: 1/11;
  }
}
@media screen and (max-width: 538px) {
  .main .banner .textbox {
    grid-column: 1/12;
  }
}
@media screen and (max-width: 494px) {
  .main .banner .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767.98px) {
  .main .banner {
    padding: 76px 0;
  }
}
.main .about .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  align-items: center;
}
.main .about__thumb {
  grid-column: 1/8;
  position: relative;
  aspect-ratio: 686/425;
}
.main .about__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .about .textbox {
  grid-column: 8/13;
}
@media screen and (max-width: 660px) {
  .main .about .container {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .main .about .textbox {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .main .about__thumb {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.main .gallery {
  background-color: var(--black-cl);
}
.main .gallery .textbox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
}
.main .gallery .textbox .heading {
  grid-row: 1/2;
  grid-column: 1/4;
}
.main .gallery .textbox .des {
  grid-row: 2/3;
  grid-column: 1/5;
}
@media screen and (max-width: 995px) {
  .main .gallery .textbox .des {
    grid-column: 1/6;
  }
}
@media screen and (max-width: 677px) {
  .main .gallery .textbox .des {
    grid-column: 1/7;
  }
}
@media screen and (max-width: 564px) {
  .main .gallery .textbox .des {
    grid-column: 1/8;
  }
}
@media screen and (max-width: 495px) {
  .main .gallery .textbox .des {
    grid-column: 1/9;
  }
}
@media screen and (max-width: 449px) {
  .main .gallery .textbox .des {
    grid-column: 1/10;
  }
}
@media screen and (max-width: 417px) {
  .main .gallery .textbox .des {
    grid-column: 1/13;
  }
}
.main .gallery__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
  margin-top: 41px;
}
.main .gallery__list--item {
  aspect-ratio: 380/260;
  position: relative;
  overflow: hidden;
}
.main .gallery__list--item a {
  display: flex;
  overflow: hidden;
}
.main .gallery__list--item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.main .gallery__list--item:hover a img {
  transform: scale(1.05);
}
.main .gallery__list--item:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.main .gallery__list--item:nth-child(3) {
  aspect-ratio: 380/550;
  grid-row: 1/3;
  grid-column: 2/3;
  height: 100%;
}
@media screen and (max-width: 767.98px) {
  .main .gallery__list {
    grid-template-columns: 1fr 1fr;
    margin-top: 33px;
  }
  .main .gallery__list--item {
    aspect-ratio: 160/110;
    width: 100%;
    height: 100%;
  }
  .main .gallery__list .gallery__list--item:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .main .gallery__list .gallery__list--item:nth-child(3) {
    aspect-ratio: 160/240;
    grid-row: 2/4;
    grid-column: 1/2;
    height: 100%;
  }
}
.main .news .textbox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
}
.main .news .textbox .heading {
  grid-row: 1/2;
  grid-column: 1/3;
}
.main .news .textbox .des {
  grid-row: 2/3;
  grid-column: 1/5;
}
@media screen and (max-width: 1043px) {
  .main .news .textbox .des {
    grid-column: 1/6;
  }
}
@media screen and (max-width: 843px) {
  .main .news .textbox .des {
    grid-column: 1/7;
  }
}
@media screen and (max-width: 569px) {
  .main .news .textbox .des {
    grid-column: 1/8;
  }
}
@media screen and (max-width: 493px) {
  .main .news .textbox .des {
    grid-column: 1/9;
  }
}
@media screen and (max-width: 417px) {
  .main .news .textbox .des {
    grid-column: 1/13;
  }
}
.main .news__tabs {
  display: flex;
  margin-top: 40px;
  margin-bottom: 35px;
  gap: 10px;
}
.main .news__tabs--item {
  padding: 0 16px;
  height: 38px;
  border: 1px solid var(--prim-cl);
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--prim-cl);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  transition: background color;
}
.main .news__tabs--item.active {
  background-color: var(--prim-cl);
  color: var(--white-cl);
}
.main .news__tabs--item:hover {
  background-color: var(--prim-cl);
  color: var(--white-cl);
}
@media screen and (max-width: 767.98px) {
  .main .news__tabs--item {
    height: 28px;
    padding: 0 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .main .news__tabs {
    margin-top: 31px;
    margin-bottom: 29px;
  }
}
.main .news__list--wrap {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.main .news__list--wrap.active {
  display: grid;
  opacity: 1;
  visibility: visible;
}
.main .news__list--wrap .item {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.main .news__list--wrap .item .item__img {
  display: flex;
  overflow: hidden;
  aspect-ratio: 380/237;
  position: relative;
}
.main .news__list--wrap .item .item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.main .news__list--wrap .item .item__info {
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main .news__list--wrap .item .item__info .heading a {
  color: var(--black-cl);
}
.main .news__list--wrap .item .item__info--des {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 506px) {
  .main .news__list--wrap .item .item__info--des {
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.main .news__list--wrap .item .item__info::before {
  content: "";
  width: 35px;
  height: 3px;
  background-color: var(--prim-cl);
  position: absolute;
  left: 0;
  top: -11px;
}
.main .news__list--wrap .item:hover .item__img img {
  transform: scale(1.1);
}
@media screen and (max-width: 767.98px) {
  .main .news__list--wrap {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .main .news__list--wrap .item .item__img {
    aspect-ratio: 330/204;
  }
  .main .news__list--wrap .item .item__info {
    height: initial;
  }
  .main .news__list--wrap .item .item__info::before {
    content: "";
    width: 35px;
    height: 3px;
    background-color: var(--prim-cl);
    position: absolute;
    left: 0;
    top: -13px;
  }
}
@media screen and (max-width: 506px) {
  .main .news__list--wrap {
    grid-template-columns: 1fr;
  }
  .main .news__list--wrap .item {
    grid-column: 1/2;
  }
}
.main .carousel__img {
  margin-bottom: 50px;
}
.main .carousel__img--detail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  width: auto;
  margin-right: var(--gap);
}
@media screen and (max-width: 767.98px) {
  .main .carousel__img--detail {
    height: 220px;
  }
}
.main .carousel__progress {
  width: 130px;
  height: 5px;
  background-color: var(--black-cl);
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.main .carousel__progress span {
  width: 0;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 0;
  left: 0;
}
.main .accordion .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .accordion__content--title {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
}
.main .accordion__content--title span {
  display: block;
  width: 10px;
  height: 2px;
  background-color: var(--grey-cl);
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.main .accordion__content--title span::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: var(--grey-cl);
  display: block;
  transform: rotate(90deg);
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
@media screen and (max-width: 630px) {
  .main .accordion__content--title span {
    opacity: 0;
    visibility: hidden;
  }
}
.main .accordion__content--title.active {
  background-color: #ccc;
}
.main .accordion__content--title.active span::before {
  opacity: 0;
  overflow: hidden;
}
.main .accordion__content--title:hover {
  background-color: #ccc;
}
.main .accordion__content--panel {
  padding: 0 18px;
  margin: 15px 0;
  background-color: var(--white-cl);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.signup {
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
}
.signup.--show {
  opacity: 1;
  visibility: visible;
}
.signup .outside {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .outside .signup__form {
  background-color: var(--white-cl);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 40px 51px 57px;
  position: relative;
}
.signup .outside .signup__form .signup__form--closebtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: var(--prim-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.signup .outside .signup__form .signup__form--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 13px;
  margin-bottom: 18px;
}
.signup .outside .signup__form .signup__form--top .social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px;
}
.signup .outside .signup__form .signup__form--top .social .social__item {
  height: 46px;
  background-color: #4285F4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signup .outside .signup__form .signup__form--top .social .social__item span {
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  text-transform: uppercase;
}
.signup .outside .signup__form .signup__form--top .social .social__item:last-child {
  background-color: #3C5A99;
}
@media screen and (max-width: 440px) {
  .signup .outside .signup__form .signup__form--top .social {
    grid-template-columns: 1fr;
  }
}
.signup .outside .signup__form .signup__form--top .optional {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.signup .outside .signup__form .signup__form--top .optional::after {
  content: "";
  display: block;
  width: 33.3333333333%;
  height: 1px;
  background-color: var(--prim-cl);
}
.signup .outside .signup__form .signup__form--top .optional::before {
  content: "";
  display: block;
  width: 33.3333333333%;
  height: 1px;
  background-color: var(--prim-cl);
}
.signup .outside .signup__form .signup__form--bottom {
  display: grid;
  gap: 16px;
}
.signup .outside .signup__form .signup__form--bottom .form__group {
  display: flex;
  flex-direction: column;
}
.signup .outside .signup__form .signup__form--bottom .form__group .error-message {
  font-family: pr;
  font-size: 1.2rem;
  line-height: 16px;
  letter-spacing: var(--ls-btn);
  color: red;
  display: none;
}
.signup .outside .signup__form .signup__form--bottom .form__group .error-message.--is-empty {
  display: flex;
  transform: translateY(13%);
  max-width: 43%;
}
.signup .outside .signup__form .signup__form--bottom .form__group input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  height: 46px;
  border: 1px solid var(--black-cl);
}
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label {
  position: relative;
}
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label #pw,
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label #cpw {
  padding-right: 40px;
}
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label .toggle-password {
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  cursor: pointer;
}
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label .toggle-password .eye.--hide {
  opacity: 0;
  visibility: hidden;
}
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label .toggle-password .eyeslash {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.signup .outside .signup__form .signup__form--bottom .form__group.--pw label .toggle-password .eyeslash.--unhide {
  opacity: 1;
  visibility: visible;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.56px;
  color: var(--grey-cl);
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label input:checked ~ .checkmark {
  background-color: var(--prim-cl);
  border: none;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label input:checked ~ .checkmark:after {
  display: block;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid var(--black-cl);
  cursor: pointer;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.signup .outside .signup__form .signup__form--bottom .--checkbox label .checkmark::after {
  content: "";
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.signup .outside .signup__form .signup__form--bottom .signup__btn {
  height: 48px;
  width: 100%;
  background-color: var(--prim-cl);
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  cursor: pointer;
}
@media screen and (max-width: 910px) {
  .signup .outside .signup__form {
    width: calc(100% - 40px);
  }
}
@media screen and (max-height: 680px) {
  .signup .outside .signup__form {
    overflow: auto;
    max-height: 100%;
  }
}
.signup.hide {
  display: none;
}

@media screen and (max-height: 680px) {
  .signup {
    padding: 20px 0;
  }
}
.popupvideo {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  -moz-transition: var(--btn-dt);
  -ms-transition: var(--btn-dt);
  -o-transition: var(--btn-dt);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupvideo.--show {
  opacity: 1;
  visibility: visible;
}
.popupvideo .popupvideo__inner {
  height: 80%;
  width: 80%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popupvideo .popupvideo__inner .popupvideo__inner--iframe {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupvideo .popupvideo__inner .popupvideo__inner--iframe .video__closebtn {
  position: absolute;
  top: 0px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: var(--prim-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popupvideo .popupvideo__inner .popupvideo__inner--iframe .video__frame {
  border: 4px solid var(--white-cl);
  overflow: hidden;
  aspect-ratio: 16/9;
  width: 100%;
}
.popupvideo .popupvideo__inner .popupvideo__inner--iframe .video__frame iframe {
  width: 101%;
  height: 101%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scrolltracker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.scrolltracker__bar {
  width: 100vw;
  height: 4px;
  background-color: var(--black-cl);
  position: relative;
}
.scrolltracker__bar--progress {
  height: 100%;
  width: 0;
  background-color: var(--prim-cl);
  position: absolute;
  left: 0;
}/*# sourceMappingURL=style.css.map */