.header {
    background: var(--bg-header);
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 10;
    @include durationTime(var(--btn-dt));

    &.--black {
        background-color: var(--black-cl);
    }

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;

        .header__logo {
            @include flexCenter;
            height: 100%;

            &.hide {
                display: none;
            }
        }

        .header__nav {
            @include flexCenter;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            li {

                a {
                    display: flex;
                    flex-direction: column;
                    @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                    padding: 5px 20px;
                    cursor: pointer;

                    &.active {
                        color: var(--prim-cl);

                        &::after {
                            content: '';
                            display: block;
                            width: -moz-fit-content;
                            height: 2px;
                            background-color: var(--prim-cl);
                        }
                    }
                }
            }

        }

        @include xs {
            .header__nav {
                display: none;
            }
        }

        .header__cta {
            display: flex;
            align-items: center;
            justify-content: center;

            .header__cta--lang {
                @include flexCenter;
                padding: 0 18px;
                height: 38px;
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                position: relative;
                cursor: pointer;

                &.hide {
                    display: none;
                }

                .curr {
                    @include flexCenter;
                }

                svg {
                    margin-left: 2px;
                }

                .dropdown {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    bottom: -90px;
                    background-color: var(--black-cl);
                    display: none;
                    flex-direction: column;

                    li {
                        padding: 7px 20px;
                        @include durationTime(var(--btn-dt));

                        &:hover {
                            color: var(--prim-cl);
                        }
                    }
                }

                &:hover .dropdown {
                    @include flexCenter;
                }
            }

            .header__cta--signup {
                background-color: var(--prim-cl);
                border: 1px solid var(--prim-cl);
                transition: var(--btn-dt);
                -webkit-transition: var(--btn-dt);
                @include flexCenter;
                padding: 0 18px;
                height: 38px;
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    border: 1px solid var(--white-cl);
                }
            }
        }

        @include xs {
            .header__cta {
                .header__cta--signup {
                    display: none;
                }

                .header__cta--hamburger {
                    display: block;
                    padding: 7px 0;

                    span {
                        position: relative;
                        display: block;
                        width: 24px;
                        height: 3px;
                        background-color: var(--white-cl);

                        &::before {
                            content: '';
                            width: 24px;
                            height: 3px;
                            background-color: var(--white-cl);
                            position: absolute;
                            top: -6px;
                        }

                        &::after {
                            content: '';
                            width: 24px;
                            height: 3px;
                            background-color: var(--white-cl);
                            position: absolute;
                            bottom: -6px;
                        }
                    }

                    &.--close {

                        span {
                            width: 0;
                            height: 0;

                            &::before {
                                content: '';
                                width: 24px;
                                height: 3px;
                                background-color: var(--white-cl);
                                position: fixed;
                                top: 40px;
                                right: 10px;
                                z-index: 10;
                                transform: rotate(45deg);
                            }

                            &::after {
                                content: '';
                                width: 24px;
                                height: 3px;
                                background-color: var(--white-cl);
                                position: fixed;
                                top: 40px;
                                right: 10px;
                                z-index: 9;
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }

            }

        }
    }

}