.header {
    background: var(--bg-header);
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include durationTime(0.2s);
    transition-property: background height;

    &.--black {
        background-color: var(--black-cl);
        height: 80px;
    }

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
    }

    &__logo {
        @include flexCenter;
        height: 100%;
        opacity: 1;
        visibility: visible;

        &.hide {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__nav {
        @include flexCenter;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        li {
            position: relative;

            a {
                display: flex;
                flex-direction: column;
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                padding: 5px 20px;
                cursor: pointer;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    width: calc(100% - 40px);
                    background-color: var(--prim-cl);
                    transform: scaleX(0);
                    transform-origin: right;
                    @include durationTime(0.5s);
                    transition-property: transform;
                }

                &.active {
                    color: var(--prim-cl);
                    position: relative;

                    &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }



            @media screen and (max-width: 1133px) {
                a {
                    padding: 5px 10px;

                    &::after {
                        width: calc(100% - 20px);
                    }
                }
            }

            &:not(:first-child) {
                a {
                    position: relative;

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }

    }

    @media screen and (max-width:1000px) {
        &__nav {
            display: none;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;

        &--lang {
            @include flexCenter;
            padding: 0 18px;
            height: 38px;
            @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
            cursor: pointer;
            @include durationTime(var(--btn-dt));
            opacity: 1;
            visibility: visible;

            &.hide {
                opacity: 0;
                visibility: hidden;
            }

            &.--active {
                .curr {
                    &__icon {
                        transform: rotateX(180deg);
                    }
                }

                .dropdown {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .curr {
                @include flexCenter;

                .curr__text {
                    @include flexCenter;
                    width: 25px;
                }

                &__icon {
                    transform: rotateX(0deg);
                    @include durationTime(var(--btn-dt));
                }
            }

            svg {
                margin-left: 2px;
            }

            .dropdown {
                position: absolute;
                left: 0;
                top: 80px;
                background-color: var(--black-cl);
                @include flexCenter;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                @include durationTime(var(--btn-dt));

                li {
                    padding: 7px 20px;
                    @include durationTime(var(--btn-dt));

                    &:hover {
                        color: var(--prim-cl);
                    }
                }
            }
        }

        &--signup {
            background-color: var(--prim-cl);
            border: 1px solid var(--prim-cl);
            transition: var(--btn-dt);
            -webkit-transition: var(--btn-dt);
            @include flexCenter;
            padding: 0 18px;
            height: 38px;
            @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
            cursor: pointer;

            &:hover {
                background-color: transparent;
                border: 1px solid var(--white-cl);
            }
        }

        &--hamburger {
            display: none;
        }
    }

    @media screen and (max-width: 1000px) {
        &__cta {
            &--signup {
                display: none;
            }

            &--hamburger {
                @include flexCenter;
                height: 20px;
                position: relative;

                span {
                    position: relative;
                    display: block;
                    width: 24px;
                    height: 3px;
                    background-color: var(--white-cl);
                    opacity: 1;
                    transition: 0.3s;
                }

                &::before {
                    content: '';
                    width: 24px;
                    height: 3px;
                    background-color: var(--white-cl);
                    position: absolute;
                    top: 0;
                    transform: rotate(0);
                    transition: 0.3s;
                }

                &::after {
                    content: '';
                    width: 24px;
                    height: 3px;
                    background-color: var(--white-cl);
                    position: absolute;
                    bottom: 0;
                    transition: 0.3s;
                }

                &.--active {
                    span {
                        opacity: 0;
                        pointer-events: none;
                    }

                    &::before {
                        top: 9px;
                        background-color: var(--prim-cl);
                        transform: rotate(45deg);
                    }

                    &::after {
                        bottom: 9px;
                        background-color: var(--prim-cl);
                        transform: rotate(-45deg);
                    }
                }
            }

        }
    }

}