.nav-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-mobile {
        @include flexCenter;
        background-color: var(--black-cl);
        margin-top: var(--header-height);
        height: calc(100vh - var(--header-height));
        position: fixed;
        z-index: 11;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .nav-mobile-menu {
            text-align: center;
            transform: translateY(-90px);
            @include flexCenter;
            flex-direction: column;

            li {
                padding-top: 7px;
                padding-bottom: 7px;
                user-select: none;

                a {
                    @include formatText(pb, 1.8rem, normal, var(--ls-btn), var(--white-cl));
                    text-transform: uppercase;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    cursor: pointer;
                }
            }

            li.--btn-yellow {
                background-color: var(--prim-cl);
                border: 1px solid var(--prim-cl);
                transition: var(--btn-dt);
                -webkit-transition: var(--btn-dt);
                @include flexCenter;
                padding: 0 17px;
                margin-top: 14px;
                height: 36px;
                width: fit-content;
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-height: 565px) {
    .nav-mobile {
        padding-bottom: 8px;

        .nav-mobile-menu {
            transform: initial;
            max-height: 100%;
            overflow: auto;
        }
    }
}