.main {
    .hero {
        height: 100vh;
        overflow: hidden;
        position: relative;

        .hero__slider {
            height: 100%;

            .hero__slider--item {
                height: 100%;
                width: 100%;
                position: relative;

                .content {
                    height: 100%;
                    @include flexCenter;
                    flex-direction: column;
                    gap: 16px;
                }

                picture {
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -2;
                        @include images;
                    }
                }
            }
        }

        .hero__bottom {
            position: absolute;
            bottom: 20px;
            width: 100%;

            .container-fluid {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .hero__bottom--paging {
                    @include flexCenter(flex, center, center);
                    gap: 17px;

                    .number {
                        @include formatText(pb, var(--fz-number), normal, var(--ls-number), var(--prim-cl));
                        display: flex;
                    }

                    @include xs {
                        .number {
                            display: none;
                        }
                    }

                    .dots {
                        display: flex;
                        gap: 10px;

                        li {
                            width: 10px;
                            height: 10px;
                            background-color: var(--prim-cl);
                            border-radius: 50%;

                            &:not(:first-child) {
                                background-color: var(--white-cl);
                                opacity: 0.5;
                            }
                        }
                    }
                }

                .hero__bottom--mouse {
                    @include flexCenter;
                    flex-direction: column;
                    gap: 9px;

                    .arrowdown {
                        animation: myMove 0.8s infinite alternate;
                        position: relative;
                    }

                    @keyframes myMove {
                        0% {
                            top: 0;
                        }

                        100% {
                            top: 10px;
                        }
                    }
                }

                .hero__bottom--controls {
                    @include flexCenter(flex, center, center);

                    .controls__btn {
                        height: 34px;
                        padding: 0 18px;
                        border: 1px solid var(--white-cl);
                        @include flexCenter;
                        cursor: pointer;
                        @include durationTime(var(--btn-dt));

                        &.--btn-prev {
                            transform: rotate(180deg);
                            margin-right: -1px;
                        }

                        &:hover {
                            background-color: var(--prim-cl);
                        }
                    }
                }
            }
        }

    }

    .products {
        .container {

            .products__cate {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 28px;
                align-items: center;

                .textbox {
                    grid-column: 1/6;
                }

                .products__cate--thumb {
                    grid-column: 6/13;
                    position: relative;
                    aspect-ratio: 686/430;
                    display: flex;

                    img {
                        @include images;
                    }
                }
            }

            .products__cate:nth-child(odd) {
                margin-bottom: 70px;
            }

            .products__cate:nth-child(even) {

                .textbox {
                    grid-column: 8/13;
                    grid-row: 1/2;
                }

                .products__cate--thumb {
                    grid-column: 1/8;
                    grid-row: 1/2;
                }
            }
        }

    }

    .videos {
        .videos__thumb {
            display: flex;
            justify-content: space-evenly;
            margin-top: 64px;

            .videos__thumb--detail {
                cursor: pointer;

                .detail__img {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    border-radius: 50%;
                    border: 12px solid var(--white-cl);
                    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
                    overflow: hidden;
                    aspect-ratio: 1/1;

                    .detail__img--icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 3;
                    }

                    .detail__img--bg {
                        @include images;
                        @include durationTime(var(--btn-dt));
                    }
                }

                .title {
                    margin-top: 38px;
                    position: relative;
                    display: block;
                    text-align: center;

                    &::before {
                        content: '';
                        width: 29px;
                        height: 3px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: -15px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                &:hover .detail__img--bg {
                    transform: scale(1.1);
                }
            }
        }
    }

    .banner {
        padding: 186px 0;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--black-cl);
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            .textbox {
                grid-column: 1/7;
            }
        }
    }

    .about {
        .container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 28px;
            align-items: center;

            .about__thumb {
                grid-column: 1/8;
                position: relative;
                aspect-ratio: 686/425;

                img {
                    @include images;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .textbox {
                grid-column: 8/13;
            }
        }
    }

    .gallery {
        background-color: var(--black-cl);

        .textbox {
            .des {
                max-width: calc(100%/3);
            }
        }

        .gallery__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px;
            margin-top: 41px;

            .gallery__list--item {
                aspect-ratio: 380/260;
                position: relative;
                overflow: hidden;

                a {
                    display: flex;
                    overflow: hidden;

                    img {
                        @include images;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include durationTime(var(--btn-dt));
                    }

                }

                &:hover img {
                    transform: scale(1.05) translate(-50%, -50%);
                }
            }

            .gallery__list--item:nth-child(2) {
                grid-row: 2/3;
                grid-column: 1/2;
            }

            .gallery__list--item:nth-child(3) {
                aspect-ratio: 380/550;
                grid-row: 1/3;
                grid-column: 2/3;
                height: 100%;
            }
        }
    }

    .news {
        .textbox {
            .des {
                display: grid;
                max-width: calc(100%/3);
            }
        }

        .news__tabs {
            display: flex;
            margin-top: 40px;
            margin-bottom: 35px;
            gap: 10px;

            .news__tabs--item {
                padding: 0 16px;
                height: 38px;
                border: 1px solid var(--prim-cl);
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--prim-cl));
                text-transform: uppercase;
                @include flexCenter;
                cursor: pointer;

                &.active {
                    background-color: var(--prim-cl);
                    color: var(--white-cl);
                }
            }
        }

        .news__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 28px;

            .news__list--item {
                display: flex;
                flex-direction: column;
                gap: 31px;

                .item__img {
                    display: flex;
                    overflow: hidden;
                    aspect-ratio: 380/237;
                    position: relative;

                    img {
                        @include images;
                        @include durationTime(var(--btn-dt));
                    }
                }

                .item__info {
                    height: 127px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;

                    .heading {
                        a {
                            color: var(--black-cl);
                        }
                    }

                    .item__info--des {
                        @include overText(3);
                    }

                    &::before {
                        content: '';
                        width: 35px;
                        height: 3px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        left: 0;
                        top: -11px;
                    }
                }

                &:hover {
                    .item__img {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }

        }
    }

    .carousel {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .carousel__img {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 28px;

            img {
                @include images;
            }
        }

        .carousel__progress {
            width: 130px;
            height: 5px;
            background-color: var(--black-cl);
            position: relative;
            margin: 0 auto;

            span {
                width: 35%;
                height: 5px;
                background-color: var(--prim-cl);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.signup {
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    @include durationTime(var(--btn-dt));

    &.--show {
        opacity: 1;
        visibility: visible;
    }

    .outside {
        height: 100%;
        width: 100%;
        @include flexCenter;


        .signup__form {
            background-color: var(--white-cl);
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 50px 40px 51px 57px;
            position: relative;

            .signup__form--closebtn {
                position: absolute;
                top: 0;
                right: 0;
                width: 22px;
                height: 22px;
                background-color: var(--prim-cl);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .signup__form--top {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 13px;
                margin-bottom: 18px;

                .social {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    gap: 16px;

                    .social__item {
                        height: 46px;
                        background-color: #4285F4;
                        @include flexCenter;
                        gap: 10px;

                        span {
                            @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                            text-transform: uppercase;
                        }
                    }

                    .social__item:last-child {
                        background-color: #3C5A99;
                    }
                }

                .optional {
                    width: 100%;
                    text-align: center;
                    position: relative;
                    z-index: 2;

                    &::after {
                        content: "";
                        display: block;
                        width: calc(100%/3);
                        height: 1px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: 12px;
                        left: 0;
                        z-index: 1;
                    }

                    &::before {
                        content: "";
                        display: block;
                        width: calc(100%/3);
                        height: 1px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: 12px;
                        right: 0;
                        z-index: 1;
                    }
                }
            }

            .signup__form--bottom {
                display: grid;
                gap: 16px;

                .form__group {
                    height: 46px;
                    border: 1px solid var(--black-cl);

                    input {
                        width: 100%;
                        height: 100%;
                        padding: 0 20px;
                    }

                    &.--pw {
                        label {
                            position: relative;

                            .toggle-password {
                                background-color: transparent;
                                position: absolute;
                                top: 0;
                                right: 20px;
                                display: flex;
                                cursor: pointer;

                                .visible {
                                    position: relative;
                                    z-index: 4;

                                    &.--hide {
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }

                                .hidden {
                                    position: absolute;
                                    z-index: 3;

                                    &.--hide {
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }
                            }
                        }

                    }
                }

                .form__checkbox {
                    label {
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0.56px;
                        color: var(--grey-cl);
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding-left: 25px;

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;

                            &:checked~.checkmark {
                                background-color: var(--prim-cl);
                                border: none;
                            }

                            &:checked~.checkmark:after {
                                display: block;
                            }
                        }

                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 16px;
                            width: 16px;
                            background-color: transparent;
                            border: 1px solid var(--black-cl);
                            cursor: pointer;

                            &::after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                            &::after {
                                content: '';
                                left: 4px;
                                top: 1px;
                                width: 4px;
                                height: 8px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .signup__btn {
                    height: 48px;
                    width: 100%;
                    background-color: var(--prim-cl);
                    @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                    cursor: pointer;
                }
            }
        }

    }

    &.hide {
        display: none;
    }
}

.popup-video {
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    @include durationTime(var(--btn-dt));
    @include flexCenter;

    &.--show {
        opacity: 1;
        visibility: visible;
    }

    .outside {
        height: 100%;
        width: 100%;
        @include flexCenter;

        .video__frame {
            border: 4px solid var(--white-cl);
            position: relative;
            display: flex;

            .video__frame--closebtn {
                position: absolute;
                top: 0;
                right: 0;
                width: 22px;
                height: 22px;
                background-color: var(--prim-cl);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .video__frame--img {
                @include images;
            }
        }
    }

}