.main {
    .hero {
        height: 100vh;
        overflow: hidden;
        position: relative;

        &__slider {
            height: 100%;

            &--item {
                height: 100%;
                width: 100%;
                position: relative;

                .content {
                    height: 100%;
                    @include flexCenter;
                    flex-direction: column;
                    gap: 12px;
                }

                picture {
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -2;
                        @include images;
                    }
                }
            }
        }

        &__bottom {
            position: absolute;
            bottom: 20px;
            width: 100%;

            .container-fluid {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
            }

            &--paging {
                @include flexCenter(flex, center, center);
                gap: 17px;

                .number {
                    @include formatText(pb, var(--fz-number), normal, var(--ls-number), var(--prim-cl));
                    display: flex;
                }

                @include xs {
                    .number {
                        display: none;
                    }
                }

                .dots {
                    display: flex;
                    gap: 10px;

                    li {
                        width: 10px;
                        height: 10px;
                        background-color: var(--prim-cl);
                        border-radius: 50%;

                        &:not(:first-child) {
                            background-color: var(--white-cl);
                            opacity: 0.5;
                        }
                    }
                }
            }

            &--mouse {
                @include flexCenter;
                flex-direction: column;
                gap: 9px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);

                .arrowdown {
                    animation: myMove 0.8s infinite alternate;
                    position: relative;
                }

                @keyframes myMove {
                    0% {
                        top: 0;
                    }

                    100% {
                        top: 10px;
                    }
                }

                @include xs {
                    .mouse {
                        display: none;
                    }
                }
            }

            &--controls {
                @include flexCenter(flex, center, center);

                .controls__btn {
                    height: 34px;
                    padding: 0 18px;
                    border: 1px solid var(--white-cl);
                    @include flexCenter;
                    cursor: pointer;
                    @include durationTime(var(--btn-dt));

                    &.--btn-prev {
                        transform: rotate(180deg);
                        margin-right: -1px;
                    }

                    &:hover {
                        background-color: var(--prim-cl);
                    }
                }

                @include xs {
                    .controls__btn {
                        height: 27px;
                        padding: 0 13px;
                    }
                }
            }
        }
    }


    .products {
        &__cate {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: var(--gap);
            align-items: center;

            .textbox {
                grid-column: 1/6;
            }

            &--thumb {
                grid-column: 6/13;
                position: relative;
                aspect-ratio: 686/430;
                display: flex;

                img {
                    @include images;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &__cate:nth-child(odd) {
            margin-bottom: 70px;
        }

        &__cate:nth-child(even) {

            .textbox {
                grid-column: 8/13;
                grid-row: 1/2;
            }

            .products__cate--thumb {
                grid-column: 1/8;
                grid-row: 1/2;
            }
        }
    }

    @include xxs {
        .products {
            &__cate {
                grid-template-columns: 1fr;
                gap: initial;

                .textbox {
                    grid-row: 2/3;
                    grid-column: 1/2;
                }

                &--thumb {
                    margin-bottom: 24px;
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
            }

            &__cate:nth-child(odd) {
                margin-bottom: 36px;
            }

            &__cate:nth-child(even) {

                .textbox {
                    grid-row: 2/3;
                    grid-column: 1/2;
                }

                .products__cate--thumb {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
            }
        }
    }

    .videos {
        .container {
            @include flexCenter;
            flex-direction: column;
        }

        &__thumb {
            display: flex;
            justify-content: space-evenly;
            margin-top: 64px;
            width: 100%;

            &--detail {
                cursor: pointer;

                .detail__img {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    border-radius: 50%;
                    border: 12px solid var(--white-cl);
                    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
                    overflow: hidden;
                    aspect-ratio: 1/1;

                    &--icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 3;
                    }

                    &--bg {
                        @include images;
                        @include durationTime(var(--btn-dt));
                    }

                    &:hover .detail__img--bg {
                        transform: scale(1.1);
                    }
                }

                @include xs {
                    .detail__img {
                        width: 200px;
                        height: 200px;
                    }
                }

                @media screen and (max-width: 690px) {
                    .detail__img {
                        width: 180px;
                        height: 180px;
                    }
                }

                .title {
                    margin-top: 38px;
                    position: relative;
                    display: block;
                    text-align: center;

                    &::before {
                        content: '';
                        width: 30px;
                        height: 3px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: -15px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
        }

        @media screen and (max-width: 625px) {
            .videos__thumb {
                flex-direction: column;
                margin-top: initial;
                justify-content: initial;
                align-items: center;
                margin-top: 43px;
                gap: 28px;
            }
        }

        @media screen and (max-width: 910px) {
            .videos__thumb {
                justify-content: space-between;
            }
        }
    }

    .banner {
        padding: 186px 0;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--black-cl);
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        .textbox {
            grid-column: 1/7;
        }

        @media screen and (max-width: 1200px) {
            .textbox {
                grid-column: 1/8;
            }
        }

        @media screen and (max-width: 1004px) {
            .textbox {
                grid-column: 1/9;
            }
        }

        @media screen and (max-width: 887px) {
            .textbox {
                grid-column: 1/10;
            }
        }

        @media screen and (max-width: 797px) {
            .textbox {
                grid-column: 1/11;
            }
        }

        @include xs {
            .textbox {
                grid-column: 1/9;
            }
        }

        @media screen and (max-width: 660px) {
            .textbox {
                grid-column: 1/10;
            }
        }

        @media screen and (max-width: 593px) {
            .textbox {
                grid-column: 1/11;
            }
        }

        @media screen and (max-width: 538px) {
            .textbox {
                grid-column: 1/12;
            }
        }

        @media screen and (max-width: 494px) {
            .container {
                grid-template-columns: 1fr;
            }
        }
    }

    @include xs {
        .banner {
            padding: 76px 0;
        }
    }

    .about {
        .container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: var(--gap);
            align-items: center;
        }

        &__thumb {
            grid-column: 1/8;
            position: relative;
            aspect-ratio: 686/425;

            img {
                @include images;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .textbox {
            grid-column: 8/13;
        }

        @media screen and (max-width: 660px) {
            .container {
                grid-template-columns: 1fr;
                gap: 24px;
            }

            .textbox {
                grid-row: 2/3;
                grid-column: 1/2;
            }

            &__thumb {
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }
    }

    .gallery {
        background-color: var(--black-cl);

        .textbox {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: var(--gap);

            .heading {
                grid-row: 1/2;
                grid-column: 1/4;
            }

            .des {
                grid-row: 2/3;
                grid-column: 1/5;
            }

            @media screen and (max-width: 995px) {
                .des {
                    grid-column: 1/6;
                }
            }

            @media screen and (max-width: 677px) {
                .des {
                    grid-column: 1/7;
                }
            }

            @media screen and (max-width: 564px) {
                .des {
                    grid-column: 1/8;
                }
            }

            @media screen and (max-width: 495px) {
                .des {
                    grid-column: 1/9;
                }
            }

            @media screen and (max-width: 449px) {
                .des {
                    grid-column: 1/10;
                }
            }

            @media screen and (max-width: 417px) {
                .des {
                    grid-column: 1/13;
                }
            }
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: var(--gap);
            margin-top: 41px;

            &--item {
                aspect-ratio: 380/260;
                position: relative;
                overflow: hidden;

                a {
                    display: flex;
                    overflow: hidden;

                    img {
                        @include images;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include durationTime(var(--btn-dt));
                    }

                }

                &:hover img {
                    transform: scale(1.05) translate(-50%, -50%);
                }
            }

            &--item:nth-child(2) {
                grid-row: 2/3;
                grid-column: 1/2;
            }

            &--item:nth-child(3) {
                aspect-ratio: 380/550;
                grid-row: 1/3;
                grid-column: 2/3;
                height: 100%;
            }

        }

        @include xs {
            &__list {
                grid-template-columns: 1fr 1fr;
                margin-top: 33px;

                &--item {
                    aspect-ratio: 160/110;
                    width: 100%;
                    height: 100%;
                }

                .gallery__list--item:nth-child(2) {
                    grid-row: 2/3;
                    grid-column: 2/3;
                }

                .gallery__list--item:nth-child(3) {
                    aspect-ratio: 160/240;
                    grid-row: 2/4;
                    grid-column: 1/2;
                    height: 100%;
                }
            }
        }
    }

    .news {
        .textbox {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: var(--gap);

            .heading {
                grid-row: 1/2;
                grid-column: 1/3;
            }

            .des {
                grid-row: 2/3;
                grid-column: 1/5;
            }

            @media screen and (max-width: 1043px) {
                .des {
                    grid-column: 1/6;
                }
            }

            @media screen and (max-width: 843px) {
                .des {
                    grid-column: 1/7;
                }
            }

            @media screen and (max-width: 569px) {
                .des {
                    grid-column: 1/8;
                }
            }

            @media screen and (max-width: 493px) {
                .des {
                    grid-column: 1/9;
                }
            }

            @media screen and (max-width: 417px) {
                .des {
                    grid-column: 1/13;
                }
            }
        }

        &__tabs {
            display: flex;
            margin-top: 40px;
            margin-bottom: 35px;
            gap: 10px;

            &--item {
                padding: 0 16px;
                height: 38px;
                border: 1px solid var(--prim-cl);
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--prim-cl));
                text-transform: uppercase;
                @include flexCenter;
                cursor: pointer;
                @include durationTime(0.3s);
                transition: background color;

                &.active {
                    background-color: var(--prim-cl);
                    color: var(--white-cl);
                }
            }

            @include xs {
                &--item {
                    height: 28px;
                    padding: 0 12px;
                }
            }
        }

        @include xs {
            &__tabs {
                margin-top: 31px;
                margin-bottom: 29px;
            }
        }

        &__list {
            &--wrap {
                display: none;
                grid-template-columns: repeat(3, 1fr);
                gap: var(--gap);
                opacity: 0;
                visibility: hidden;
                transition: 0.4s;

                &.active {
                    display: grid;
                    opacity: 1;
                    visibility: visible;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 31px;

                    .item__img {
                        display: flex;
                        overflow: hidden;
                        aspect-ratio: 380/237;
                        position: relative;

                        img {
                            @include images;
                            @include durationTime(var(--btn-dt));
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .item__info {
                        height: 127px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;

                        .heading {
                            a {
                                color: var(--black-cl);
                            }
                        }

                        &--des {
                            @include overText(3);
                        }

                        @media screen and (max-width: 506px) {
                            &--des {
                                @include overText(initial);
                            }
                        }

                        &::before {
                            content: '';
                            width: 35px;
                            height: 3px;
                            background-color: var(--prim-cl);
                            position: absolute;
                            left: 0;
                            top: -11px;
                        }
                    }

                    &:hover {
                        .item__img {
                            img {
                                transform: scale(1.1) translate(-50%, -50%);
                            }
                        }
                    }
                }
            }

        }

        @include xs {
            &__list {
                &--wrap {
                    grid-template-columns: 1fr 1fr;
                    gap: 25px;

                    .item {
                        .item__img {
                            aspect-ratio: 330/204;
                        }

                        .item__info {
                            height: initial;

                            &::before {
                                content: '';
                                width: 35px;
                                height: 3px;
                                background-color: var(--prim-cl);
                                position: absolute;
                                left: 0;
                                top: -13px;
                            }
                        }
                    }

                    .item:first-child {
                        grid-row: 1/2;
                        grid-column: 1/3;
                    }
                }

            }
        }

        @media screen and (max-width: 506px) {
            &__list {
                &--wrap {
                    grid-template-columns: 1fr;

                    .item {
                        grid-column: 1/2;
                    }
                }

            }
        }
    }

    .carousel {
        display: flex;
        flex-direction: column;
        gap: 50px;

        &__img {
            display: flex;
            gap: var(--gap);
            overflow: hidden;
            height: 450px;

            img {
                @include images;
            }
        }

        @include xs {
            &__img {
                height: 220px;
            }
        }

        &__progress {
            width: 130px;
            height: 5px;
            background-color: var(--black-cl);
            position: relative;
            margin: 0 auto;

            span {
                width: 35%;
                height: 5px;
                background-color: var(--prim-cl);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.signup {
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    @include durationTime(var(--btn-dt));

    &.--show {
        opacity: 1;
        visibility: visible;
    }

    .outside {
        height: 100%;
        width: 100%;
        @include flexCenter;


        .signup__form {
            background-color: var(--white-cl);
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 50px 40px 51px 57px;
            position: relative;

            .signup__form--closebtn {
                position: absolute;
                top: 0;
                right: 0;
                width: 22px;
                height: 22px;
                background-color: var(--prim-cl);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .signup__form--top {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 13px;
                margin-bottom: 18px;

                .social {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    gap: 16px;

                    .social__item {
                        height: 46px;
                        background-color: #4285F4;
                        @include flexCenter;
                        gap: 10px;

                        span {
                            @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                            text-transform: uppercase;
                        }
                    }

                    .social__item:last-child {
                        background-color: #3C5A99;
                    }
                }

                .optional {
                    width: 100%;
                    text-align: center;
                    position: relative;
                    z-index: 2;

                    &::after {
                        content: "";
                        display: block;
                        width: calc(100%/3);
                        height: 1px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: 12px;
                        left: 0;
                        z-index: 1;
                    }

                    &::before {
                        content: "";
                        display: block;
                        width: calc(100%/3);
                        height: 1px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: 12px;
                        right: 0;
                        z-index: 1;
                    }
                }
            }

            .signup__form--bottom {
                display: grid;
                gap: 20px;

                .form__group {
                    height: 46px;
                    border: 1px solid var(--black-cl);

                    .error-message {
                        @include formatText(pr, 15px, normal, var(--ls-btn), red);
                        display: none;

                        &.--is-empty {
                            display: block;
                        }
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        padding: 0 20px;
                    }

                    &.--pw {
                        label {
                            position: relative;

                            .toggle-password {
                                background-color: transparent;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 20px;
                                display: flex;
                                cursor: pointer;

                                .eye {
                                    &.--hide {
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }

                                .eyeslash {
                                    position: absolute;
                                    opacity: 0;
                                    visibility: hidden;

                                    &.--unhide {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }

                    }
                }

                .form__checkbox {
                    label {
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0.56px;
                        color: var(--grey-cl);
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding-left: 25px;

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;

                            &:checked~.checkmark {
                                background-color: var(--prim-cl);
                                border: none;
                            }

                            &:checked~.checkmark:after {
                                display: block;
                            }
                        }

                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 16px;
                            width: 16px;
                            background-color: transparent;
                            border: 1px solid var(--black-cl);
                            cursor: pointer;

                            &::after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                            &::after {
                                content: '';
                                left: 4px;
                                top: 1px;
                                width: 4px;
                                height: 8px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .signup__btn {
                    height: 48px;
                    width: 100%;
                    background-color: var(--prim-cl);
                    @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--white-cl));
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 910px) {
            .signup__form {
                width: 100%;
            }
        }
    }

    &.hide {
        display: none;
    }
}

.popupvideo {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    @include durationTime(var(--btn-dt));
    @include flexCenter;

    &.--show {
        opacity: 1;
        visibility: visible;
    }

    .popupvideo__inner {
        height: 80%;
        width: 80%;
        max-width: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .popupvideo__inner--iframe {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include flexCenter;

            .video__closebtn {
                position: absolute;
                top: 0px;
                right: 0;
                width: 22px;
                height: 22px;
                background-color: var(--prim-cl);
                @include flexCenter;
                cursor: pointer;
            }

            .video__frame {
                border: 4px solid var(--white-cl);
                overflow: hidden;
                aspect-ratio: 16/9;
                width: 100%;

                iframe {
                    width: 101%;
                    height: 101%;
                    object-fit: cover;
                }
            }
        }
    }
}

.scrolltracker {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    &__bar {
        width: 100vw;
        height: 4px;
        background-color: var(--black-cl);
        position: relative;

        &--progress {
            height: 100%;
            width: 0;
            background-color: var(--prim-cl);
            position: absolute;
            left: 0;
        }
    }
}